.custom-label {
    display: block;
    text-align: left;
    margin-left: 0.5rem;
    font-weight: bold;
}
h3{
    color: #957C3D;
}
.custom-dropdown {
    background-color: #fff; /* Kolor tła */
    color: #000; /* Kolor tekstu */
    border: 1px solid #ced4da; /* Kolor obramowania */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Cień */
    transition: box-shadow 0.7s ease; /* Animacja cienia */
}
.custom-dropdown:focus {
    outline: none; /* Usunięcie obramowania po kliknięciu */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Efekt po kliknięciu */
}
.text-danger{
    display: block;
    margin-top: 5px;
    color: #dc3545; /* Kolor czerwony */
    font-size: 0.875rem; /* Rozmiar czcionki 14px */
}