/* employee-details.css */

.custom-list {
    list-style: none;
    background-color: #052548;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: #957C3D;
}

.custom-list li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /
}

.custom-list li strong {
    min-width: 60px;
    display: inline-block;
    margin-bottom: 5px;
}


.custom-list.address-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86%;
}
.option-buttons{
    margin-left: 20px;
}

