.footer{
    padding: 4rem 6rem;
    background: black;
    color: white;
    font-family: sans-serif;

}

.footer h1{
    margin-bottom: 0.3rem;
    color:  #957C3D;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}


.top i{
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover {
    color: #01959a;
}

.container{
    margin: 0;
}

.container h4{
    font-size: 1.5rem;
    padding: 1rem 0 .8rem 0;
    color:  #957C3D;


}
.row{
    margin-top: 20px;
    margin-left: 180px;
}

.container p{
    font-size: 1.1rem;
}

.container a{
    text-decoration: none;
    color:  #957C3D;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}


@media screen and (max-width: 850px) {
    .footer{
        padding: 4rem 2rem;

    }

    .footer i{
        margin: 1rem 1rem 0 0;
    }

    .bottom div{
        width: 50%;
    }

}