.admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex: 1;
}

.sidebar-wrapper {
    width: 250px; /* Ustaw szerokość AdminSidebar */
}

.content-wrapper {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 60px;
    overflow: auto;
}
